*{
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
body{
	background-color: #F0F1DC;
}
ul li{
	list-style-type: none;
}
a:link{
	text-decoration:none;	
	color: #4A4A4A;
}
a:hover{
	cursor: pointer;
}
a:visited{
	color: #4A4A4A;
}
.header{
	height: 300px;
}

/* main */
.main{
	margin-top: 20px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.main{
    display: block;
    padding:20px;
    cursor: default;
    background: #fff url(http://tympanus.net/Tutorials/OriginalHoverEffects/images/bgimg.jpg) repeat;
    -webkit-box-shadow:0 5px 10px #666; 
    -moz-box-shadow:0 5px 10px #666;
    box-shadow:0 5px 10px #666;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;    
}
h2{
	font-size: 35px;
	text-align: center;
	color: #4A4A4A;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: all 0.8s;
}
.category{
	margin-left: 10%;
	margin-top: 10px;
	color: #626C83;
	font-size: 20px;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: all 0.8s;
}
.category span:hover{
	color: #D4D6DC;
	font-size: 21px;
}
.date{
	margin-top: 10px;
	margin-left: 80%;
	color: #FF7530;
	font-size: 17px;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: all 0.8s;
}
.date span:hover{
	color: #FCD781;
	font-size: 18px;
}
.content{
	margin-left: 22px;
	margin-right: 22px;
	margin-top: 10px;
	margin-bottom: 50px;
}
.content p{
	color: #4A4A4A;
	font-size: 19px;
	line-height: 150%;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	text-indent: 34px;
}
.content p a{
	color: #B6B8F0;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: all 0.8s;
}
.content p a:hover{
	color: #8c9ed5;
}
.back{
	font-size: 19px;
	line-height: 150%;
	text-indent: 34px;
	color: #362c34;
}
.back a{
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	cursor: pointer;
	transition: all 0.8s;
}
.back a:hover{
	color: #8c9ed5;
}

/* footer */
.footer{
	min-height: 100px;
}
