*{
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
body{
	background-color: #F0F1DC;
}
ul li{
	list-style-type: none;
}
a:link{
	text-decoration:none;	
	color: #4A4A4A;
}
a:hover{
	cursor: pointer;
}
a:visited{
	color: #4A4A4A;
}
.header{
	height: 300px;
}

/* main */
.main{
	margin-top: 20px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.main{
    display: block;
    padding:20px;
    cursor: default;
    background: #fff url(http://tympanus.net/Tutorials/OriginalHoverEffects/images/bgimg.jpg) repeat;
    -webkit-box-shadow:0 5px 10px #666; 
    -moz-box-shadow:0 5px 10px #666;
    box-shadow:0 5px 10px #666;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;    
}
h2{
	text-align: center;
	color: #4A4A4A;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: all 0.5s;
}
.category{
	margin-left: 30%;
	margin-top: 10px;
	color: #626C83;
	font-size: 20px;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: all 0.5s;
}
.category span:hover{
	color: #D4D6DC;
	font-size: 21px;
}
.date{
	margin-top: 10px;
	float: right;
	margin-right: 5%
	color: #FF7530;
	font-size: 17px;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	transition: all 0.5s;
}
.date span:hover{
	color: #FCD781;
	font-size: 18px;
}
.content{
	margin-left: 22px;
	margin-right: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.content p{
	color: #4A4A4A;
	font-size: 17px;
   	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	text-indent: 34px;
}
