*{
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
body{
}
.intro-main{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.intro-head{
	min-height: 400px;
}
#photo{
	max-width: 300px;
	float: left;
}
#photo img{
	width: 90%;
}
.intro-list{
	float: right;
}
.name{
	font-size: 35px;
	font-weight: bold;
}
.name :hover{
	cursor: wait;
}
.title{
	font-size: 20px;
	font-weight: 600;
}
.intro-list{
	max-width: 700px;
}
.article-list{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

