<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ site.css }}/ini.css" type="text/css" />
		<title>{{ page.title }} </title>
	</head>
	<body>
		<div class="header">
			<h1>This is me !!!</h1>
		</div>
		<div class="intro-main">
			<p class="name" strong>液氢</p>				<p><span class="title">兴趣：</span>画画（板绘），口琴，剑道，二次元，摄影，吃（料理也喜欢）</p>
			<p><span class="title">特长：</span>打码【主攻后台（Python，PHP，C++），兼顾前端（HTML，CSS，JavaScript）】</p>
			<p><span class="title">语言：</span>中文，日语，英语，潮汕话</p>
			<p>
						<span class="title">自我介绍：</span>喜欢
			</p>
			<p><span class="title">E-mail：</span>entel.science@gmail.com / 499601435@qq.com</p>
			<p><span class="title">QQ：</span>499601435</p>
		</div>
		<div class="article-list">
			<p class="article-head">最新文章</p>
			{{ content }}
		</div>
		<div class="footer">
		</div>
	</body>
</html>
