<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ site.css }}/ini.css" type="text/css" />
		<title>{{ page.title }} </title>
	</head>
	<body>
		<div class="header">
			<h1>This is me !!!</h1>
		</div>
		<div class="intro-main">
			<div>
				<span class="name" strong>液氢</span>
			</div>
			<p><span class="title">兴趣：</span>画画（板绘），口琴，剑道，二次元，摄影，吃（料理也喜欢）</p>
			<p><span class="title">特长：</span>打码【主攻后台（Python，PHP，C++），兼顾前端（HTML，CSS，JavaScript）】</p>
			<p>
				<span class="title">语言：</span>中文，日语，英语，潮汕话
			</p>
			<p>
				<span class="title">属性：</span>两无（无口无表情），吃货，清新控，收集控，略微的强迫症，略微的人群恐惧症
			</p>
			<p>
				<span class="title">自我介绍：</span>
				<p class="self-intro">中山大学软件学院的程序猿一只。就自我认知而言，我觉得自己的知识覆盖面还是非常广的。或者应该说兴趣覆盖面比较广吧，但是深度就不一定很深了。</p>
				<p class="self-intro">军事方面我是武器控，当然我还是爱好和平的，只是单纯的对高科技武器有研究了解的爱好，同时也比较了解一二战时候的军事发展史。</p>
				<p class="self-intro">在其他方面我是清新控，比较喜欢小清新的东西，比如画画摄影我都比较倾向于清新的画风；音乐方面虽然对口琴，吉他和钢琴都有接触，但是比较喜欢的还是口琴吧，因为便携嘛，曲风也是接近柔和清新的（其实是技术差吹不了快曲）；喜欢二次元，但其实不算宅，只是不喜欢人多的地方，时不时在淡季找个人少的地方拍拍照，跟自己的小团体一起玩一玩；吃货一个，即喜欢（chi）料理，也喜欢（zuo）料理。</p>
				<p class="self-intro">学术研究方面，我大学期间的主要研究方向是人工智能，所以主要做的也是算法设计优化，数据结构优化这一类的研究，对工程类项目也有兴趣，做过android开发（java），windows桌面开发（C#），浏览器插件开发（javascript），网站开发等。</p>
			</p>
			<p><span class="title">E-mail：</span>entel.science@gmail.com / 499601435@qq.com</p>
			<p><span class="title">QQ：</span>499601435</p>
		</div>
		<div class="about">
			<p class="about-head">关于这个博客</p>
			<p class="about-main">决定在空闲的时候做一些关于人工智能方面的学习和研究。这个决定后就决定找个地方来做一下笔记，所以也就决定做这个博客。主要应该会写两个方面的记录吧，生活日志和学习笔记。</p>
			<p class="about-main">生活日志主要是一些生活的见闻跟感悟还有展示一些自己拍到的照片等等。</p>
			<p class="about-main">学习笔记主要是一些研究学习的成果笔记。</p>
			<p class="about-main">接下来祝各位还有我，武运长久！</p>
		</div>
		<div class="article-list">
			<p class="article-head">最新文章</p>
			{{ content }}
		</div>
		<div class="footer">
		</div>
	</body>
</html>
